{% extends "site/base.html" %}
{% load staticfiles %}


{% block bodyContent %}
<div class="ui inverted vertical masthead center aligned segment">

	<div class="ui equal width middle aligned grid">	
		<div class="three wide wide column">
			<img class="ui middle aligned small circle image" src="">	
		</div>
		<div class="ten wide column">
			<div class="ui list">
				<h2>{{anuncio.titulo}} </h2>
				<div class="item">
					<i class="user icon"></i>
					<a class="content" href="{% url 'ViewProfle' anuncio.usuario.id %}">
						{{anuncio.usuario.first_name}} {{anuncio.usuario.last_name}}
					</a>
				</div>				
			</div>			
		</div>
	</div>


</div>

<div>
	<div class="ui list">
		<h2>Información</h2>
		<div class="item">
			<div class="content">
				<div class="header">Descripción</div>
				<div class="description"><p>{{ anuncio.descripcion }}</p></div>
			</div>
		</div>
		<div class="item">
			<i class="help icon"></i>
			<div class="content">
				<div class="header">Fecha creación</div>
				<div class="description">{{ anuncio.fechaCreacion }}</div>
			</div>
		</div>
		<div class="item">
			<i class="help icon"></i>
			<div class="content">
				<div class="header">Fecha vencimiento</div>
				<div class="description">{{ anuncio.fechaCreacion|add:anuncio.tiempoVencimiento }}</div>
			</div>
		</div>
	</div>
	<div>
		<h2>Etiquetas</h2>
		<div>
		{% if anuncio.etiqueta.all %}
		{% for etiqueta in anuncio.etiqueta.all %}<a class="ui tag label" href="{% url 'DetalleEtiqueta' etiqueta.nombre %}">{{etiqueta.nombre}}</a>{% endfor %}
		{% else %}No hay etiquetas asociadas{% endif %}
		</div>
	</div>
</div>
{% endblock %}