{% extends "site/base.html" %}
{% load staticfiles %}


{% block bodyContent %}
<div class="ui inverted vertical masthead center aligned segment">

	<div class="ui equal width middle aligned grid">	
		<div class="three wide wide column">
			<img class="ui middle aligned small circle image" src="">	
		</div>
		<div class="ten wide column">
			<div class="ui list">
				<div class="item">
					<i class="user icon"></i>
					<div class="content">
						{{Usuario.first_name}} {{Usuario.last_name}} 
					</div>
				</div>
				<div class="item">
					<i class="university icon"></i>
					<div class="content">
						{{Usuario.alumno.carrera.nombre}}
					</div>
				</div>				
			</div>			
		</div>
	</div>


</div>

<div>
	<div class="ui list">
		<h2>Datos personales</h2>
		<div class="item">
			<i class="help icon"></i>
			<div class="content">
				<div class="header">Nombre</div>
				<div class="description">{{Usuario.first_name}} {{Usuario.last_name}}</div>
			</div>
		</div>
		<div class="item">
			<i class="help icon"></i>
			<div class="content">
				<div class="header">Correo Electrónico</div>
				<div class="description"><a href="mailto:{{Usuario.email}}">{{Usuario.email}}</a></div>
			</div>
		</div>
		<div class="item">
			<i class="help icon"></i>
			<div class="content">
				<div class="header">Teléfono</div>
				<div class="description"><a href="tel:{{Usuario.alumno.telefono}}">{{Usuario.alumno.telefono}}</a></div>
			</div>
		</div>
	</div>
	<div class="ui list">
		<h2>Datos académicos</h2>
		<div class="item">
			<i class="help icon"></i>
			<div class="content">
				<div class="header">Carrera</div>
				<div class="description">{{Usuario.alumno.carrera.nombre}} <small>{{Usuario.alumno.carrera.facultad.nombre}}</small></div>
			</div>
		</div>
		<div class="item">
			<i class="help icon"></i>
			<div class="content">
				<div class="header">Año ingreso</div>
				<div class="description">{{Usuario.alumno.annoIngreso}}</div>
			</div>
		</div>
	</div>
	<div>
		<h2>Etiquetas</h2>
		<div>{% for etiqueta in Usuario.alumno.etiquetas.all %}<a class="ui tag label" href="{% url 'DetalleEtiqueta' etiqueta.nombre %}">{{etiqueta.nombre}}</a>{% endfor %} </div>
	</div>
</div>
{% endblock %}